<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mokemon</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <section id="seleccionar-mascota">
        <h1 class="titulo">Mokepon!🔥💧🪴</h1>
        <h2 class="subtitulo" >Elige a tu mascota:</h2>
        <div class="tarjetas" id="contenedor-tarjetas">
           
        </div>
        
        <button id="boton-mascota">seleccionar</button>
    </section>
    
    <section id="seleccionar-ataque">
        <h1 class="titulo">Mokepon!🔥💧🪴</h1>
        <h2 class="subtitulo" id="subtitulos">Elige tus ataques:</h2>

        <div class="ataques" id="ataques-jugador">
           <!--  <button id="boton-fuego" class="boton-de-ataque">Fuego 🔥</button>
            <button id="boton-agua" class="boton-de-ataque">Agua 💧 </button>
            <button id="boton-tierra" class="boton-de-ataque">Tierra 🪴</button> -->
        </div>

       

        <div class="seccion-mensajes" id="mensajes">
           <!--  <section id="mensajes">
            </section> --> 
       
            <div class="contenedor-mensajes">
                <div id="resultado">Comienza la pelea</div>
                <div>
                    <section id="reiniciar">
                        <button id="boton-reiniciar">reiniciar</button>
                    </section>
                </div>

            </div>
            <div class="contenedor-ataques">
                <div class="padre-ataques">
                    <p id="mascota-jugador"></p>
                    <p id="vidas-jugador"></p>
                    <p id="ataques-del-jugador"></p>
                </div>
                <div class="padre-ataques">
                    <p id="mascota-enemigo"></p> 
                    <p id="vidas-enemigo"></p>
                    <p id="ataques-del-enemigo"></p>
                </div>
            </div>
        </div>
    </section>
    <script src="../src/index.js"></script>
</body>
</html>